<div id="post_<%= post.id %>">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>
  <p>Posted <%= time_tag post.created_at, "data-local": "time-ago" %></p>
  <%= render partial: 'posts/comments_count', locals: { post_id: post.id, comments_count: post.comments.count } %>
  <p>
    <strong>Content:</strong>
    <%= post.content %>
  </p>
  <p>
    <% if params[:action].nil? || params[:action] == 'index' %>
      <%= link_to "Show this post", post, data: { turbo: false } %>
    <% end %>
  </p>
</div>
